html,
body{
  height: 100vh;
  box-sizing: border-box;
}

.clear::after{
	content: "";
	clear: both;
	display: block;
}

.navbar-brand{
	width: 80px;
	height: 80px;
	float: left;
	display: block;
    background: url(../images/logo.png) no-repeat center;
    background-size: cover;
}
.navbar-toggler:not(:disabled):not(.disabled){
	outline: none;
	border: none;
}

.navbar-dark .navbar-nav .nav-link{
	color: #8a9dab;
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active>.nav-link{
	color: #55585a;
	font-weight: bold;
}



.animated-icon2 {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;


	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;

		background: #8a9dab;

		&:nth-child(1) {
			top: 0px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: 10px;
		}

		&:nth-child(4) {
			top: 20px;
		}

	}

	&.open {
		span{
			&:nth-child(1) {
				top: 11px;
				width: 0%;
				left: 50%;
			}

			&:nth-child(2) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			&:nth-child(4) {
				top: 11px;
				width: 0%;
				left: 50%;
			}
		}
	}
}



section {
	padding: 0 10px;
}


.carousel {
	.carousel-item{
		min-height: 200px;
		width: 100%;
	}

	.slide1 {
		background: url("../images/stonehenge.jpg") center;
		background-size: cover; 
	}
	.slide2 {
		background: url("../images/banner2.jpg") center;
		background-size: cover;
	}
	.slide3 {
		background: url("../images/banner3.jpg") center;
		background-size: cover;
	}	
}  


.carousel-fade {
	.carousel-item {
		opacity: 0;
		transition-duration: .6s;
		transition-property: opacity;
	}

	.carousel-item.active,
	.carousel-item-next.carousel-item-left,
	.carousel-item-prev.carousel-item-right {
	 	opacity: 1;
	}

	.active.carousel-item-left,
	.active.carousel-item-right {
		opacity: 0;
	}

	.carousel-item-next,
	.carousel-item-prev,
	.carousel-item.active,
	.active.carousel-item-left,
	.active.carousel-item-prev {
		transform: translateX(0);
		transform: translate3d(0, 0, 0);
	}

} 

i.fa {
	color: black;
}
.fa-camera-retro {
	width: 40px;
	margin: 0 auto 10px;
	text-align: center;
	display: block;
}
.intro {
	margin-bottom: 20px;
}

.card-columns{
	.card {
		overflow: hidden;
		&:hover {
		  box-shadow: 0 0 11px rgba(33,33,33,.2); 
		}
	}	
} 


footer{
	&.pagefooter {
		clear: both;
		border-top: 1px solid #e3e3e3;
		padding: 10px 0 20px;
		background: #f8f9fa !important;
	}

	.socmed {
		width: 100%;
		padding-top: 10px;

		a{
			display: inline-block;
			margin: 0 3px;
		}
	}

	.copyright{
		padding-top:10px;
	}

	p {
		margin-bottom: 0;
	}

	.contacts {
		margin-top: 15px;

		p{
			text-align: center;
			width: 100%;
		}
	}
}

.page-title{
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	margin: 15px 0;
	font-weight: bold;
}

.jumbotron {
	background-image: url(../images/stonehenge.jpg);
	background-size: cover;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	min-height: 250px;
}

main.about,
main.blog ,
main.contact{
	min-height: 120vh;
	padding-top: 20px;
} 

.abt{
	.rel-img{
		width: 250px;
		height: 220px;
		margin: 0 auto 10px;
		display: block;
	}	
} 

.about{
	.jumbotron {
		background-image: url(../images/mayan.jpg);
	}

	.row {
		margin-bottom: 15px;
	}		
}


a.card-title{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 16px;

	&:hover{
		color: #909090;
	}
}

.cardsblog {
    margin-bottom: 10px;
	position: relative;

	.card-img{
		float: none;
		width: 70%;
		margin: 0 auto;
		display: block;
	}
	.description {
		float: none;
		width: 70%;
		margin: 10px auto 0;
		text-align: center;
	}

	.userinfo {
		margin-bottom: 10px;
	}	
}


.starrating {
    position: relative;	
    & > input {display: none;}
	& > label:before { 
	  content: "\f005"; /* Star */
	  margin: 2px;
	  font-size: 1em;
	  font-family: FontAwesome;
	  display: inline-block; 
	}
	& > label
	{
	  color: #222222; /* Start color when not clicked */
	}

	& > input:checked ~ label{ 
		color: #ffca08; 
	}

	& > input:hover ~ label { 
		color: #ffca08;
	}

}

.article {
	padding: 20px 0;

	.blockquote {
	    float: right;
	    width: 45%;	
	}

	.display-4 {
		font-size: 2.5rem;
	}

	.rel-img{
		width: 100%;
	}

	.txtshort{
		padding-left: 5px;
	}

	.row{
		margin-bottom: 12px;

		.card {
			overflow: hidden;
		}

		.card-img-top { 
			transition: all .5s ease-in-out;
			&:hover{
				transform: scale(1.05);
			}
		}
	}
}

.contact {
	padding: 20px 0; 
}

.media {
	min-height: 130px;

	img {
		width: 110px;
	}
	
	a {
		word-break: break-all;
	}
}


.banner {
	width: 100%;
	height: 380px;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;


	&:before {
	    content: "";
	    height: 250px;
	    opacity: .7;
	    width: 100%;
	    z-index: 5;
	    position: relative;
	    background: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,0)),to(#000));
	    background: -webkit-linear-gradient(bottom,rgba(0,0,0,0) 0,#000 100%);
	    background: -o-linear-gradient(bottom,rgba(0,0,0,0) 0,#000 100%);
	    background: linear-gradient(0deg,rgba(0,0,0,0) 0,#000 100%);
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    pointer-events: none;
	    -webkit-backface-visibility: hidden;
	}

	p{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 14px;
		color: #fff;
		z-index: 20;
	}

	.entry-image {
	    display: block;
	    backface-visibility: hidden;
	    -webkit-backface-visibility: hidden;

		img {
		    width: 100%;
		    height: 100%;
		    -o-object-fit: cover;
		    object-fit: cover;
		    position: absolute;
		    z-index: 1;
		    left: 0;
		    top: 0;

			-o-object-fit: cover;
		    object-fit: cover;
		    font-family: 'object-fit: cover';
			
			-webkit-animation: kenburns 40s infinite;
		    animation: kenburns 40s infinite;
			

			&:after {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    content: "";
			    display: block;
			    z-index: 2;
			    -webkit-backface-visibility: hidden;
			    backface-visibility: hidden;
			    -webkit-tap-highlight-color: transparent;
			    -webkit-touch-callout: none;	
				
				background: rgba(0, 0, 0, 0.5);
				backface-visibility: hidden;
			    -webkit-backface-visibility: hidden;
			}
		}
	}

	&:after{
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    content: "";
	    display: block;
	    z-index: 2;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    -webkit-tap-highlight-color: transparent;
	    -webkit-touch-callout: none;
		background: rgba(0, 0, 0, 0.5);
	}

}


@-webkit-keyframes kenburns{
	0%{-webkit-transform:scale(1.2);transform:scale(1.2)}
	50%{-webkit-transform:scale(1);transform:scale(1)}
	100%{-webkit-transform:scale(1.2);transform:scale(1.2)}
}
@keyframes kenburns{
	0%{-webkit-transform:scale(1.2);transform:scale(1.2)}
	50%{-webkit-transform:scale(1);transform:scale(1)}
	100%{-webkit-transform:scale(1.2);transform:scale(1.2)}
}


/* ========= MEDIA QUERIES ========= */
/*tablet view*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.carousel {
		.carousel-item{
			height: 200px;
		}	
	} 

	.intro {
		width: 90%;
		text-align: center;
		margin: 20px auto;
	}

	.jumbotron {
		height: 300px;
	}

	.abt {
		.rel-img{
			width: 300px;
			height: 300px;
		}	
	}

	section {
		padding: 0;
	}

	.page-title {
		text-align: left;
		padding: 20px;
	}	
	
	.cardsblog {
		.card-img{
			float: left;
			width: 40%;		
		}
		.description {
			float: right;
			width: 55%;
			text-align: left;
			margin: 0;
		}
	}
	.starrating {
		position: relative;
	    clear: both;
	    margin-left: 35px;
	}
	.banner,
	.banner .entry-image	{
		height: 500px;
	}
}


@media only screen and (min-width: 961px) {
	.carousel{
		.carousel-item{
			height: 340px;
		}		
	} 

	.intro {
		width: 70%;
		text-align: center;
		margin: 20px auto;
	}

	.jumbotron {
	    height: 550px;
	}

	section {
		padding: 0;
	}

	.page-title {
		text-align: left;
		padding: 20px;
	}

	.blog{
		.row {
			margin-bottom: 10px;
		}	
	} 
	.cardsblog{
		.card-img{
			float: left;
			width: 40%;
			height: 120px;
		}
		.description {
			float: right;
			width: 55%;
			text-align: left;
			margin: 0;
		}		
	}

	.starrating {
		position: relative;
	    clear: both;
	    margin-left: 35px;
	}
	.banner p{
		font-size: 1.3rem;
	}
}


@media only screen and (min-width: 1366px) {
	.carousel{
		.carousel-item{
			height: 340px;
		}		
	}
	.cardsblog {
		.card-img{
			float: left;
			width: 40%;
			height: auto;
		}	
	} 
	.banner,
	.banner .entry-image	{
		height: 650px;
	}
	
	.banner p{
		font-size: 2rem;
	}
}


@import "../../node_modules/bootstrap/scss/bootstrap";

